/* Importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #181a1e;
    color: white;
}

/* Header (Top Bar) */
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    color: white;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #3bdea8;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .login-btn {
    width: 110px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .login-btn:hover {
    background: #3bdea8;
}

/* Login Form */
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease;
}

.wrapper.active {
    transform: scale(1);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #3bdea8;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0 35px 0 5px;
    color: white;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.signin-btn {
    width: 100%;
    height: 45px;
    background: #3bdea8;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

/* Main Content */
#main {
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    gap: 2px;
}

#main h1 {
    font-size: 50px;
    font-weight: 500;
}

#main h2 {
    font-size: 30px;
    margin-top: 5px;
    font-weight: 500;
}

#main .about-app {
    padding-left: 260px;
}

#main .about-app .description {
    text-align: justify;
    margin-right: 220px;
}

#main .about-app .features {
    font-size: 20px;
}   

#main .about-app .features h3 {
    color: #3bdea8;
    font-weight: 400;
}

#main .about-app .features p.desc {
    text-align: justify;
    font-size: 16px;
    margin-left: 18px;
    padding-right: 220px;
}

#main .main-logo {
    padding-right: 360px;
    padding-top: 55px;
}

/* Info Content */
#info {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    transition: top 3s ease;
}

.dev-section {
    display: flex;
    justify-content: center;
}

.dev-section .devs  {
    text-align: center;
    margin: 30px 55px; 
}

.dev-section .devs img.developer {
    border-radius: 50%;
    width: 150px;
    height: 150px;  
}

.dev-section .devs .dev-name {
    padding-top: 20px;
}

.dev-section .devs .dev-name .our-social {
    font-size: 21px;
    color: white;
}


.dev-section .devs .dev-name .our-social i:hover {
    color: #3bdea8;
}

/* Responsiveness */
@media screen and (max-width: 1661px) {
    #main .about-app .description {
        margin-right: 150px;
    }

    #main .about-app .features p.desc {
        padding-right: 150px;
    }

    #main .main-logo {
        padding-right: 180px;
    }
}

@media screen and (max-width: 1520px) {
    #main .about-app {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1260px) {
    #main .about-app .description {
        margin-right: 50px;
    }

    #main .about-app .features p.desc {
        padding-right: 50px;
    }   
}

@media screen and (max-width: 1200px) {
    #top-bar {
        background: #000000d4;
    }

    #main {
        display: block;
    }

    #main .about-app .description {
        margin-right: 80px;
    }

    #main .about-app .features p.desc {
        padding-right: 80px;
    }   

    #main .main-logo {
        padding-left: 80px;
    }
}

@media screen and (max-width: 770px) {
    #top-bar {
        padding: 20px 24px;
    }

    #top-bar .logo img {
        display: none;
    }

    .navigation a:hover {
        color: #3bdea8;
    }

    .navigation a::after {
        display: none;
    }

    #main .about-app {
        padding-left: 15px;
    }
    
    #main .main-logo img {
        width: 250px;
        height: 250px;
    }

    .dev-section {
        display: block;
    }
}